@charset "utf-8";

*{padding: 0; margin: 0;}
	ul,ol,li{list-style: none;}
a{text-decoration: none;}

.fixed-con{ width: 1190px; margin: 0 auto;}
.mneu-con, .footer-con{ min-width: 1190px;}

.search-con{
	height: 160px; position: relative;
}
.box-search{
	width: 586px; height: 56px; position: absolute;
	left: 268px; top: 50%; margin-top: -28px;
}
.box-search-in{
	height: 100%; box-sizing: border-box; border: 2px solid #19ce60;
	border-radius: 2px; background-color: #fff;
}
.input-search{
	border: 0; outline: 0; width: 474px; height: 50px; box-sizing: border-box;
	padding: 13px 15px; margin: 1px; font-size: 18px; line-height: 24px;
	font-weight: bold;
}
.btn-submit{
	width: 56px; height: 55px; box-sizing: border-box; position: absolute;
	background-color: #19ce60; border-radius: 0 2px 2px 0;
	border: 0; outline: 0; cursor: pointer; top: 0; right: 0;
}
.icon-search{
	display: inline-block; width: 22px; height: 22px;
	background-position: -420px 0;
}
.search-con .service-area{
	position: absolute; top: 12px; right: 27px;
}
.search-con .link-set{
	float: left; font-size: 11px; color: #404040; text-decoration: none;
}
.search-con .link-set:hover{
	cursor: pointer;
	text-decoration: underline;
}
/* 키보드 */
.search-con .btn-kbd{
	position: absolute; top: 0; right: 84px; bottom: 0;
	width: 36px; z-index: 400; text-decoration: none;
}
.search-con .ico-kbd{
	position: absolute; top: 50%; left: 50%; display: inline-block;
	width: 20px; height: 12px; background-position: -420px -402px;
	vertical-align: top; margin: -6px 0 0 -10px;
}
.search-con .btn-kbd:hover .ico-kbd{
	background-position: -206px -389px;
}

/* 자동완성 버튼*/
.search-con .btn-auto-down{
	position: absolute; top: 0; bottom: 0; right: 64px; width: 22px;
}
.search-con .ico-auto{
	width: 10px; height: 5px; display: inline-block; position: absolute;
	top: 50%; left: 50%; margin: -2px 0 0 -5px; vertical-align: top;
	background-position: -408px -100px;
}
.search-con .btn-auto-dwon.up .ico-auto{
	background-position: -408px -93px;
}
/* 자동완성 박스*/
.search-con .box-auto-content{
	margin: -1px; border: 1px solid #e4e7e8;
	border-radius: 0 0 6px 6px; border-top: 0;
	box-shadow: 0 2px 3px 0 rgba(0, 1, 3, 0.07);
	background-color: #fff;
	display: none;
}
.search-con .box-auto-footer{
	height: 40px; box-sizing: border-box;border-top: 1px solid #f1f4f6;
	border-radius: 0 0 6px 6px; background-color: #f9fafb;
	line-height: 37px; font-size: 13px;
}
.search-con .box-auto-footer .box-left{
	float: left; padding-left: 12px;
}
.search-con .box-auto-footer .box-right{
	float: right; padding-right: 12px;
}
.search-con .box-auto-footer .item{
	padding: 0 6px; color: gray; float: left;
}
.search-con .box-auto-footer .report{
	color: #03c75a;
}
.search-con .box-auto-footer .item+.item::before{
	width: 1px; height: 11px; float: left; margin-top: 14px; content: '';
	background-color: #e2e2e2; margin-left: -6px;
}


.search-con .link-set::after{
	display: inline-block; width: 26px; height: 26px;
	background-position: -308px -345px; content: ''; vertical-align: top;
	margin: -3px 0 0 3px;
}
.link-jrnaver{
	float: left; text-decoration: none; cursor: pointer;
	font-size: 12px; line-height: 16px;
}
.ico-jrnaver{
	display: inline-block; width: 60px; height: 10px; vertical-align: top;
	background-position: -262px -330px; margin: 3px; 
}

.link-naver{
	width: 222px; height: 52px; position: absolute; top: 50%;
	background-position: 0 -158px; top: 50%; margin-top: -32px;
	left: 21px;
}
.link-happybin{
	float: left; margin-left: 6px; text-decoration: none; cursor: pointer;
	font-size: 12px; line-height: 16px;
}
.ico-happybin{
	display: inline-block; width: 34px; height: 11px; vertical-align: top;
	background-position: -369px -299px; margin: 3px 3px 2px;
}
.link-jrnaver:hover .ico-jrnaver{
	background-position: -200px -330px;
}
.link-happybin:hover .ico-happybin{
	background-position: -380px -199px;
}

/* 중간 메뉴*/
.menu-con{
	height: 52px; position: relative; border-top: 1px solid #e4e8eb;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.menu-con .menu-inner{
	position: relative; width: 1130px;
	padding: 0 30px; margin: 0 auto;
}
.menu-con .menu-group{
	overflow: hidden; position: relative; padding: 11px 270px 11px 0;
}
.menu-con .menu-list{
	float: left; font-size: 15px; line-height: 30px; font-weight: 700;
	color: #000; letter-spacing: -.3px; list-style: none; font-weight: bold;
}
.menu-con .menu-list .list-item{
	float: left;
}
.menu-con .menu-list.type-fix .item{
	color: #03c75a;
}
/* 상속받은것보다 A태그 자체의 기본값이 적용된다. 따라서 직접 지정을 해줘야한다. */
.menu-con .menu-list .item{
	color: #000;
}
.menu-con .menu-list .item{
	display: block; text-decoration: none;
}
.menu-con .menu-list .ico-mail{
	display: inline-block; width: 21px; height: 21px;
	background-position: -420px -73px; vertical-align: top;
	margin: 3px 9px 0 0;
}
.menu-con .menu-list .list-item+.list-item{
	margin-left: 12px;
}
.menu-con .menu-list .list-item{
	float: left;
}
.menu-con .menu-list .shop{
	padding: 5px 0;
}
.menu-con .menu-list .shop::before{
	width: 24px; height: 20px; background-position: -154px -389px;
	content: ''; display: block;
}
.menu-con .menu-list .shoplive{
	padding: 5px 0;
}
.menu-con .menu-list .shoplive::before{
	width: 54px; height: 20px; background-position: -202px -299px;
	content: ''; display: block;
}
.menu-con .menu-list .ico-tv{
	display: inline-block; width: 12px; height: 14px;
	background-position: -444px -49px; vertical-align: top;
	margin: 9px 2px 0 0;
}
.menu-con .menu-list+.menu-list{
	margin-left: 12px;
}
.menu-con .list-item.type-empty{
	letter-spacing: -1px;
}

/* 더보기 버튼*/
.menu-con .btn-more{
	float: left; margin-left: 17px; font-size: 13px; line-height: 30px;
	color: #202020;
}
.menu-con .btn-more::after{
	display: inline-block; width: 11px; height: 7px; vertical-align: 2px;
	margin-left: 7px; content: ''; background-position: -444px -339px;
}
.menu-con .btn-more:hover{
	text-decoration: underline;
}
.menu-con .btn-more.fold{
	color: #0ecd5a;
}
.menu-con .btn-more>.title:nth-child(2){
	display: none;
}
.menu-con .btn-more.fold>.title:nth-child(1){
	display: none;
}
.menu-con .btn-more.fold>.title:nth-child(2){
	display: inline;
}
.menu-con .btn-more.fold::after{
	background-position: -444px -330px;
}

/*컨텐츠 박스*/
.content-con.fixed-con{
	padding: 20px 30px; letter-spacing: -.2px;
}
.content-con .left-content{
	float: left; width: 750px; height: 100%; background-color: white;
}
.content-con .right-content{
	float: right; width: 350px; height: 100%; background-color: white;
}

/* 광고 배너*/
.content-con .left-box, .content-con .right-box{
margin-bottom: 12px;
}
.link-ad{
	display: block; height: 135px;
}
/* 오른쪽 로그인상자*/
.login{
	padding: 16px 16px 12px 17px; background-color: #f7f9fa;
	border: 1px solid #dae1e6;
}
.login .login-msg{
	padding-left: 3px; color: grey; font-size: 12px; line-height: 16px;
}
.login .link-login{
	display: block; padding: 15px 0; margin-top: 11px; background-color: #19ce60;
	border: 1px solid #15c654; border-radius: 2px; font-size: 13px;
	color: #fff; font-weight: 700; text-align: center; text-decoration: none;
}
.login .ico-naver{
	display: inline-block; width: 60px; height: 12px; background-position: -138px -330px;
	vertical-align: top; margin: 2px 5px 0 0;
}
.login .sub-area{
	margin: 14px 8px 0 4px;
}
.login .sub-area .look-box{
	float: left;
}
.login .sub-area .look-box::before{
	display: inline-block; width: 10px; height: 14px; background-position: -444px -98px;
	vertical-align: top; content: ''; margin: -1px 1px 1px;
}
.login .sub-area .link-look{
	color: #404040; text-decoration: none; font-size: 12px; line-height: 16px;
}
.login .sub-area .link-look:hover{
	text-decoration: underline;
}
.login .sub-area .link-look+.link-look::before{
	background-color: #d7dce0; display: inline-block; width: 3px; height: 3px;
	border-radius: 50%; content: ''; margin: 0 5px 0 2px; vertical-align: 3px;
}
.login .sub-area .look-join{
	float: right; color: #505050; text-decoration: none; font-size: 12px;
	line-height: 16px;
}
.login .sub-area .look-join:hover{
	text-decoration: underline;
}
.login .sub-area .look-join::before{
	display: inline-block; width: 11px; height: 11px; background-position: -444px -129px;
	vertical-align: top; content: ''; margin: 2px 5px 0 0;
}


.content-con{height: 500px; background-color: blue;}
.footer-con{height: 424px; background-color: purple;}

/* 공용 */
.fixed-con{padding: 0 30px; box-sizing: border-box;}

/* 공용 이미지1 */
.icon-search, .link-naver, .search-con .link-set::after, .ico-jrnaver,
.ico-happybin, .search-con .ico-kbd, .search-con .ico-auto,
.menu-con .menu-list .ico-mail, .menu-con .menu-list .shop::before,
.menu-con .menu-list .shoplive::before, .menu-con .menu-list .ico-tv,
.menu-con .btn-more::after, .login .ico-naver, .login .sub-area .look-box::before,
.login .sub-area .look-join::before{
	background-image: url(https://s.pstatic.net/static/www/img/uit/sp_main_4f8ccb.png);
	background-size: 457px 434px;
}
/* display 블락과 inline-block은 안해도된다. float을 이용하기때문에 자동으로 된다.*/
.search-con .sa-bar{
	float: left; width: 1px; height: 10px; margin: 3px 7px;
	background-color: #e4e8eb; font-style: normal;
}
.blind{
	position: absolute; clip: rect(0 0 0 0);
	width: 1px; height: 1px; margin: -1px; overflow: hidden;
}
.search-con .service-area::after{
	clear: both; display: block; content: '';
}
.menu-con .menu-list::after{
	content: ''; display: table; table-layout: fixed; clear: both;
}
.login .sub-area::after{
	content: ''; display: table; table-layout: fixed; clear: both;
}
